<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoic3RpbnNlbiIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRwczpcL1wv
		Z2l0aHViLmNvbVwvcnVuZGZ1bms0N1wvc3RpbnNlbiJdfSwicHJvZHVjdEZp
		bHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91
		bmQiOiIyLjAuMTAiLCJ1cHBlckJvdW5kIjoiMy4wLjAifV19fV19LHsic291
		cmNlQ29udHJvbCI6W3siaWRlbnRpdHkiOiJtb3lhIiwibG9jYXRpb24iOnsi
		cmVtb3RlIjpbImh0dHBzOlwvXC9naXRodWIuY29tXC9Nb3lhXC9Nb3lhLmdp
		dCJdfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFu
		Z2UiOlt7Imxvd2VyQm91bmQiOiIxNS4wLjMiLCJ1cHBlckJvdW5kIjoiMTYu
		MC4wIn1dfX1dfV0sImRpc3BsYXlOYW1lIjoiTWkgYXBwIiwicGFja2FnZUtp
		bmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJw
		bGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9XSwicHJvZHVj
		dHMiOlt7Im5hbWUiOiJNaSBhcHAiLCJzZXR0aW5ncyI6W3siZGlzcGxheVZl
		cnNpb24iOlsiMS4wIl19LHsiYnVuZGxlVmVyc2lvbiI6WyIxIl19LHsiaU9T
		QXBwSW5mbyI6W3siYWNjZW50Q29sb3IiOnsiYXNzZXQiOnsibmFtZSI6IkFj
		Y2VudENvbG9yIn19LCJhcHBJY29uIjp7ImFzc2V0Ijp7Im5hbWUiOiJBcHBJ
		Y29uIn19LCJjYXBhYmlsaXRpZXMiOltdLCJzdXBwb3J0ZWREZXZpY2VGYW1p
		bGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmll
		bnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6
		e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3du
		Ijp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19
		XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFi
		bGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5k
		ZW5jaWVzIjpbeyJwcm9kdWN0IjpbIlN0aW5zZW4iLCJzdGluc2VuIixudWxs
		XX0seyJwcm9kdWN0IjpbIk1veWEiLCJNb3lhIixudWxsXX0seyJwcm9kdWN0
		IjpbIkNvbWJpbmVNb3lhIiwiTW95YSIsbnVsbF19XSwiZXhjbHVkZSI6W10s
		Im5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W10s
		InNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMi
		Olt7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJTdGluc2VuIiwic3Rp
		bnNlbiIsbnVsbF19LHsicHJvZHVjdCI6WyJNb3lhIiwiTW95YSIsbnVsbF19
		LHsicHJvZHVjdCI6WyJDb21iaW5lTW95YSIsIk1veWEiLG51bGxdfV0sImV4
		Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwicGF0aCI6Ii4iLCJyZXNv
		dXJjZXMiOltdLCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn1d
		LCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjUuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		CPl2bX3jWKKv3vLIlUDCf9jMU6iNSRXW5ip8EtyATHI=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.6.0-dev</string>
	</dict>
</dict>
</plist>
